<div id="index-view">
    <div id="index-eye">
        <div id="index-eye-apple"></div>
        <div id="index-eye-light"></div>
        <div id="index-eye-eyelids"></div>
        <div id="index-eye-label" class="underlime-label">
            <div class="underlime">
                <span class="under">Under</span><span class="lime">lime</span>
            </div>
            <div class="games">
                games
            </div>
        </div>
    </div>
    <div class="page-preloader" data-ng-hide="projects_loaded"></div>
    <div id="index-projects" data-ng-show="projects_loaded">
        <ul id="index-projects-list">
            <li data-ng-repeat="proj_data in data.projects">
                <div class="number">{{proj_data.n}}</div>

                <div data-ng-if="proj_data.code != 'next'">
                    <div data-ng-if="proj_data.is_released == true">
                        <a data-ng-href="#!/{{lang}}/projects/{{proj_data.code}}.html">
                            <img data-ng-src="{{proj_data.icon}}" alt="{{proj_data.name}}" />
                            <div class="text">{{ proj_data.name }}</div>
                        </a>
                    </div>
                    <div data-ng-if="proj_data.is_released == false">
                        <div class="soon-image"></div>
                        <div class="days-left">
                            <div class="count">{{proj_data.days_left}}</div>
                            <div class="label">{{proj_data.days_left_description}}</div>
                        </div>
                        <div class="text">{{proj_data.name}}</div>
                    </div>
                </div>

                <div data-ng-if="proj_data.code == 'next'">
                    <div class="next-image">
                        <div class="next-icon" style="background-position: {{nextIconBgPos}}"></div>
                    </div>
                    <div class="text">{{proj_data.name}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>
