#spacediver .layer0 {
    width: 960px;
    height: 140px;
    top: 0;
    left: -20px;
    background: url('/media/project-headers/space-diver/LAYER_0_SD_BG.jpg');
}

#spacediver .layer1 {
    width: 310px;
    height: 140px;
    top: 0;
    left: -15px;
    background: url('/media/project-headers/space-diver/LAYER_1_SD_LEFT.png');
}

#spacediver .layer2 {
    width: 300px;
    height: 140px;
    top: 0;
    left: 310px;
    background: url('/media/project-headers/space-diver/LAYER_2_SD_LOGO_EN.png');
}

[lang=ru] #spacediver .layer2 {
    background: url('/media/project-headers/space-diver/LAYER_2_SD_LOGO_RU.png');
}

#spacediver .layer3 {
    width: 310px;
    height: 140px;
    top: 0;
    left: 625px;
    background: url('/media/project-headers/space-diver/LAYER_3_SD_RIGHT.png');
}
